<header>
	<%= link_to logo , root_path %>
	<nav>
		<ul>
			<%= button_group do %>
			<li><%= pill_button_link_to "Home", root_path %></li>
			<% if signed_in? %>
			<li><%= pill_button_link_to "Profile", current_user %></li>
			<li><%= settings_pill_button_link_to "Settings", edit_user_path(current_user) %></li>
			<% end %>
			<li><%= pill_button_link_to "Help", help_path %></li>
			<% if signed_in? %>
			<li><%= pill_button_link_to "Sign out", signout_path, :method => :delete %></li>
			<% else %>
      <li><%= pill_button_link_to "Sign in", signin_path %></li>
      <% end %>
      <% end %>
    </ul>
  </nav>
</header>
